# Projeto Track&Care - Localização Indoor de Precisão
**Candidato:** Ruan Oliveira  
**Data:** 10/02/2026  
**Objetivo:** Desenvolver um modelo de ML capaz de prever a localização de pacientes em uma clínica de repouso utilizando sinais ruidosos de RSSI captados por sensores móveis.

## 1. Setup do Projeto
Nesta etapa, carregaremos as bibliotecas necessárias e o dataset de treino fornecido.

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# Configurações de visualização
%matplotlib inline
sns.set_theme(style="whitegrid")

# Definindo caminhos
DATA_PATH = '../data/raw/telemetria_track_care_treino.csv'

# Carregando o dataset
df = pd.read_csv(DATA_PATH)

# Visualizando as primeiras linhas
df.head()

,timestamp,patient_id,imei,employee_id,sensor_latlong,sensor_room,rssi,actual_patient_room
0,2026-02-10T08:00:00,PAT_001,IMEI_IPHONE_X,EMP_01,"-22.809788, -47.059685",Enfermaria,-71.76,Quarto 1
1,2026-02-10T08:00:07,PAT_001,IMEI_IPHONE_X,EMP_01,"-22.809997, -47.059374",Recepção,-70.04,Arredores
2,2026-02-10T08:00:11,PAT_001,IMEI_SAMSUNG_S23,EMP_02,"-22.809713, -47.059590",Enfermaria,-84.13,Quarto 1
3,2026-02-10T08:00:19,PAT_001,IMEI_SAMSUNG_S23,EMP_02,"-22.809967, -47.059759",Corredor,-75.96,Quarto 1
4,2026-02-10T08:00:27,PAT_002,IMEI_SAMSUNG_S23,EMP_02,"-22.809625, -47.059679",Enfermaria,-83.72,Quarto 2